<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/assets/icons/css/fontello.css">
    <title>Header</title>

</head>
    <header>
        <a href="menu.html"><img src="../../src/assets/images/logoTEYDE.png" alt=""></a>
        <div class="d-flex align-items-center flex-wrap sepPerfil">
            <div class="d-flex align-items-center sepHead">
                <h5><a href=""><i class=" icon-logout"></i> cerrar sesión  </a></h5>
            </div>
            <a href=""><img class="perfil" src="../../src/assets/images/profile.png" alt=""></a>
        </div>
    </header>
</html>                                                                                                