<ul class="sidebar-container navbar-nav sidebar-color sidebar sidebar-dark accordion fixed-width" id="accordionSidebar">
    
    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Heading -->
    <div class="sidebar-heading">
        PRODUCCIÓN
    </div>

    <!-- Nav Item - Clientes -->
    <li class="nav-item">
        <a class="nav-link" href="ofertas.html">
            <i class="icon-megaphone"></i>
            <span>Ofertas</span></a>
    </li>

    <!-- Nav Item - Clientes -->
    <li class="nav-item">
        <a class="nav-link" href="pedidos_clientes.html">
            <i class="icon-boxes-send"></i>
            <span>Pedidos Clientes</span></a>
    </li>

    <!-- Nav Item - Clientes -->
    <li class="nav-item">
        <a class="nav-link" href="gestion_produccion.html">
            <i class="icon-cog-alt"></i>
            <span>Gestión de la Producción</span></a>
    </li>

    <!-- Nav Item - Clientes -->
    <li class="nav-item">
        <a class="nav-link" href="diseño_desarrollo.html">
            <i class="icon-laptop-code"></i>
            <span>Diseño y Desarrollo</span></a>
    </li>

    <!-- Nav Item - Clientes -->
    <li class="nav-item">
        <a class="nav-link" href="almacen.html">
            <i class="icon-boxes"></i>
            <span>Almacén</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="articulos.html">
            <i class="icon-edit-alt"></i>
            <span>Articulos</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="clientes.html">
            <i class=" icon-address-card"></i>
            <span>Clientes</span></a>
    </li>

    <!-- Nav Item - Empleados -->
    <li class="nav-item">
        <a class="nav-link" href="usuarios.html">
            <i class="icon-users"></i>
            <span>Usuarios</span></a>
    </li>

                <!-- Divider -->
                <hr class="sidebar-divider">
                            <!-- Heading -->
                            <div class="sidebar-heading">
                    GESTIÓN DE CALIDAD
                </div>

     <!-- Nav Item - Foro -->
     <li class="nav-item">
        <a class="nav-link" href="documentacion_sistema_calidad.html">
            <i class="icon-file-sign"></i>
            <span>Documentación del sistema de calidad</span></a>
    </li>

    <!-- Nav Item - Facturación -->
    <li class="nav-item">
        <a class="nav-link" href="acciones_mejora.html">
            <i class="icon-upgrade"></i>
            <span>NC/ Acciones de mejora</span></a>
    </li>

    <!-- Nav Item - Clientes -->
    <li class="nav-item">
        <a class="nav-link" href="proveedores.html">
            <i class="icon-handshake-o"></i>
            <span>Proveedores</span></a>
    </li>

        <!-- Nav Item - Facturación -->
    <li class="nav-item">
        <a class="nav-link" href="auditorias.html">
            <i class="icon-search-document"></i>
            <span>Auditorías</span></a>
    </li>

        <!-- Nav Item - Facturación -->
    <li class="nav-item">
        <a class="nav-link" href="indicadores.html">
            <i class="icon-gauge"></i>
            <span>Indicadores</span></a>
    </li>

        <!-- Nav Item - Facturación -->
    <li class="nav-item">
        <a class="nav-link" href="CPIR.html">
            <i class="icon-attention"></i>
            <span>Contexto, Partes interesadas y Riesgos</span></a>
    </li>

        <!-- Nav Item - Facturación -->
    <li class="nav-item">
        <a class="nav-link" href="objetivos_calidad.html">
            <i class="icon-quality"></i>
            <span>Objetivos de calidad</span></a>
    </li>

        <!-- Nav Item - Facturación -->
    <li class="nav-item">
        <a class="nav-link" href="formacion.html">
            <i class="icon-graduation-cap"></i>
            <span>Formación y Competencia</span></a>
    </li>

        <!-- Nav Item - Facturación -->
    <li class="nav-item">
        <a class="nav-link" href="normas.html">
            <i class="icon-book"></i>
            <span>Normas</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
