<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script type="module" src="../assets/js/login.js" defer></script>
</head>
<body>
    <div id="app">
      <div id="content">
        <div id="login">
            <div class="column">
              <img id="logo" src="../assets/images/logoteyde.jpg" alt="">
              <form id="formLogin">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" placeholder="Introduzca su email">
                <label for="password">Contraseña</label>
                <input id="password" name="password" type="password" placeholder="********">
                <button id="send">Entrar</button>
                <a href="menu-inicio.html"></a>
              </form>
            </div>
        </div>          
        <div id="mainImg">
          <img id="imgLogin" src="../assets/images/login1RS.png">
        </div>
      </div>
    </div>
</body>
</html>