<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Inicio</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="../assets/js/header.js"></script>
</head>

<body>

    <include src="shared/header.html"></include>


    <section class="d-flex justify-content-center">

        <div id="seccionCromos" class="contenedor d-flex flex-wrap justify-content-center align-items-center">
            <div id="divProd" class="contenedor d-flex flex-wrap justify-content-center align-items-center">
                <h1 id="tituloProd" class="contenedor d-flex flex-wrap justify-content-center align-items-center">
                    PRODUCCIÓN</h1>

                <div class="cromo col-3">
                    <a href="ofertas.html">
                        <img src="../assets/images/Oferta.png" alt="">
                        <h2>Ofertas</h2>
                    </a>
                </div>

                <div class="cromo col-3">
                    <a href="pedidos_clientes.html">
                        <img src="../assets/images/Pedidos.png" alt="">
                        <h2>Pedidos Clientes</h2>
                    </a>
                </div>

                <div class="cromo col-3">
                    <a href="produccion.html">
                        <img src="../assets/images/Produccion.png" alt="">
                        <h2>Gestión de la Producción</h2>
                    </a>
                </div>

                <div class="cromo col-3">
                    <a href="diseño_y_desarrollo.html">
                        <img src="../assets/images/Desarrollo.png" alt="">
                        <h2>Diseño y Desarrollo</h2>
                    </a>
                </div>

                <div class="cromo col-3">
                    <a href="almacen.html">
                        <img src="../assets/images/Almacen.png" alt="">
                        <h2>Almacén</h2>
                    </a>
                </div>

                <div class="cromo col-3">
                    <a href="articulos.html">
                        <img src="../assets/images/Articulos.png" alt="">
                        <h2>Articulos</h2>
                    </a>
                </div>

                <div class="cromo col-3">
                    <a href="clientes.html">
                        <img src="../assets/images/Clientes.png" alt="">
                        <h2>Clientes</h2>
                    </a>
                </div>

                <div class="cromo col-3">
                    <a href="usuarios.html">
                        <img src="../assets/images/Usuarios.png" alt="">
                        <h2>Usuarios</h2>
                    </a>
                </div>



            </div>

            <div id="divGest" class="contenedor d-flex flex-wrap justify-content-center align-items-center">
                <h1 id="tituloGest" class="contenedor d-flex flex-wrap justify-content-center align-items-center">
                    GESTIÓN DE CALIDAD</h1>

                    <div class="cromo col-3">
                        <a href="documentacion_sistema_calidad.html">
                            <img src="../assets/images/Documentacion.png" alt="">
                            <h2>Documentación del sistema de calidad</h2>
                        </a>
                    </div>
    
                    <div class="cromo col-3">
                        <a href="acciones_mejora.html">
                            <img src="../assets/images/Acciones.png" alt="">
                            <h2>NC/ Acciones de mejora</h2>
                        </a>
                    </div>
    
                    <div class="cromo col-3">
                        <a href="proveedores.html">
                            <img src="../assets/images/Proveedor.png" alt="">
                            <h2>Proveedores</h2>
                        </a>
                    </div>
    
                    <div class="cromo col-3">
                        <a href="auditorias.html">
                            <img src="../assets/images/Auditorias.png" alt="">
                            <h2>Auditorías</h2>
                        </a>
                    </div>
    
                    <div class="cromo col-3">
                        <a href="indicadores.html">
                            <img src="../assets/images/Indicadores.png" alt="">
                            <h2>Indicadores</h2>
                        </a>
                    </div>
    
                    <div class="cromo col-3">
                        <a href="CPIR.html">
                            <img src="../assets/images/Contexto.png" alt="">
                            <h2>Contexto, Partes interesadas y Riesgos</h2>
                        </a>
                    </div>
    
                    <div class="cromo col-3">
                        <a href="objetivos_calidad.html">
                            <img src="../assets/images/Objetivos.png" alt="">
                            <h2>Objetivos de Calidad</h2>
                        </a>
                    </div>
    
                    <div class="cromo col-3">
                        <a href="formacion.html">
                            <img src="../assets/images/Formacion.png" alt="">
                            <h2>Formación y Competencia</h2>
                        </a>
                    </div>
    
                    <div class="cromo col-3">
                        <a href="normas.html">
                            <img src="../assets/images/Normas.png" alt="">
                            <h2>Normas</h2>
                        </a>
                    </div>

            </div>

        </div>
    </section>
</body>

</html>