
.icon-logout:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-search-document:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-doc-add:before { content: '\e804'; } /* '' */
.icon-folder-add:before { content: '\e805'; } /* '' */
.icon-download:before { content: '\e806'; } /* '' */
.icon-megaphone:before { content: '\e807'; } /* '' */
.icon-cog-alt:before { content: '\e808'; } /* '' */
.icon-clipboard-list:before { content: '\e809'; } /* '' */
.icon-book:before { content: '\e80a'; } /* '' */
.icon-gauge:before { content: '\e80b'; } /* '' */
.icon-boxes-send:before { content: '\e80c'; } /* '' */
.icon-graduation-cap:before { content: '\e80d'; } /* '' */
.icon-laptop-code:before { content: '\e80e'; } /* '' */
.icon-boxes:before { content: '\e80f'; } /* '' */
.icon-quality:before { content: '\e810'; } /* '' */
.icon-file-sign:before { content: '\e811'; } /* '' */
.icon-attention:before { content: '\e812'; } /* '' */
.icon-upgrade:before { content: '\e813'; } /* '' */
.icon-down-dir:before { content: '\e814'; } /* '' */
.icon-up-dir:before { content: '\e815'; } /* '' */
.icon-up-open:before { content: '\e816'; } /* '' */
.icon-down-open:before { content: '\e817'; } /* '' */
.icon-edit-alt:before { content: '\e818'; } /* '' */
.icon-trash-empty:before { content: '\e819'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
